<html>

  <head>

    <title>Quora Clone</title>

  </head>

  <body>

    <h1>Quora Clone</h1>

		<form>
			<input type="button" value="Show all questions" onclick="window.location.href='http://localhost:9393/questions'"/>
		</form> 

		<form>
			<input type="button" value="Create a question" onclick="window.location.href='http://localhost:9393/questions/new'"/>
		</form> 

		<form>

  </body>

</html>
