<h1>Quora Sign In</h1>
<br>
<br>
<form method="POST" action="/sign_in">
  Username:<br>
  <input type="text" name="user_name"><br>
  Password:<br>
  <input type="text" name="user_password"><br><br>
  <input type="submit" value="Submit">
</form> 

