 <h1>New Question</h1>


 <form method="POST" action="/questions/new" >
  Question Title:<br>
  <input type="text" name="question_name"><br>
  Question Details:<br>
  <input type="text" name="question_details"><br><br>
  <input type="submit" value="Submit">
</form> 

<form>
			<input type="button" value="Back to Menu" onclick="window.location.href='http://localhost:9393'"/>
</form> 